<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- 愛蘭國小營養午餐模組程式碼-112.11.04 12:11更新版 -->
    <style>
        #lunchApp {
            text-align: center;
            background: #e5ecf9;
            border-radius: 5px;
        }

        #currentTime {
            line-height: 20px;
        }

        #KitchenName {
            font-size: 1em;
        }

        .shadow-sm {
            font-size: 0.8em !important;
            margin: 5px 0 10px 0;
        }

        .border-bottom {
            font-size: 1em;
            color: #3572f3;
        }

        /* 貴校的"查看詳細資料"如果原本顯示就沒問題，可以刪除底下的CSS設定 */
        /* 以下 */
        .shadow-sm.bg-white.rounded {
            border: 1px solid #585454;
            border-radius: 5px;
        }

        /* 以上 */
    </style>
    <div id="lunchApp">
        <div v-if="info.data.length != 0">
            <p id="KitchenName" class="form-control form-control-sm" v-model="selectedBatchdataId">
                <span v-for="option in info.data" v-bind:value="option.BatchDataId">
                    {{option.KitchenName}}

                </span>
            </p>
            <span id="currentTime">{{getTodayDate}}</span><br>
            {{getBatchdata}}
            <div v-if="menu.data.length !=0" class="border-bottom" v-for="dish in menu.data" style=" padding: 0 20px;">
                <span v-if="dish.DishType !== undefined">{{dish.DishType}} :</span> {{dish.DishName}}
            </div>

            <button @click="queryDetail" type="button" class="shadow-sm bg-white rounded">查看詳細資料</button>
        </div>
        <div v-else>
            <span id="currentTime">{{getTodayDate}}</span><br>
            <span class="border-bottom">本日無菜單</span>
        </div>
    </div>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="/var/file/51/1051/img/2047/vue.global.js"></script>
        <script src="/var/file/51/1051/img/2047/axios.min.js"></script>
    <script>
        let SchoolId = "64738357";// 請將"64738357"換成貴校的 SchoolId
        let Today = new Date();
        let period = Today.getFullYear() + "-" + (Today.getMonth() + 1) + "-" + Today.getDate();
        let url = "https://fatraceschool.k12ea.gov.tw/offered/meal?KitchenId=all&MenuType=1&period=" + period + "&SchoolId=" + SchoolId + '"';
        const { createApp } = Vue
        createApp({
            data() {
                return {

                    info: {
                        'data': []
                    },
                    menu: {
                        'data': []
                    },
                    selectedBatchdataId: '',
                }
            },
            created: function () {
                axios
                    .get(url)
                    .then(response => {

                        this.info = response.data;
                        if (this.info.data.length === 1) {
                            this.selectedBatchdataId = this.info.data[0].BatchDataId;
                        } else {
                            this.selectedBatchdataId = "000000";
                            let vm = this;


                            this.info.data.forEach(item => {
                                let dish = {};
                                dish.DishName = item.KitchenName;
                                vm.menu.data.push(dish);
                            })
                            console.log(vm.menu);

                        }
                    });

            },
            computed: {
                getBatchdata: function () {
                    if (this.info.data.length != 0) {
                        this.getMenu();

                    }

                },
                getTodayDate: function () {
                    const now = new Date();
                    const formattedTime = now.getFullYear() + "-" +
                        (now.getMonth() + 1) + "-" + now.getDate();
                    return formattedTime;
                }
            },
            methods: {
                getMenu: function () {
                    if (this.selectedBatchdataId !== "000000") {

                        let url = "https://fatraceschool.k12ea.gov.tw/dish?BatchDataId=" + this.selectedBatchdataId;
                        axios
                            .get(url)
                            .then(response => {
                                this.menu = response.data;
                            })
                    }


                },
                queryDetail: function () {
                    let url = "https://fatraceschool.k12ea.gov.tw/frontend/search.html?school=" + SchoolId + "/";
                    window.open(url);
                }

            }
        }).mount('#lunchApp')
    </script>
    <!-- 以上-愛蘭國小營養午餐模組 -->

</body>

</html>