/**************************************************/
/*                                   Body and Wrapper                             */
/**************************************************/

body {
    background: #79AEFF url(images/back.png) top center repeat-x fixed;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
    width: 900px;
    padding: 0;
    text-align: left;
}

/**************************************************/
/*                                       Top Piece                                        */
/**************************************************/

#top {
    background: url(images/bgtop.png) top center no-repeat;
    width: 900px;
    height: 78px;
}

/**************************************************/
/*                                       Content                                             
another wrapper that holds all the content                              */
/**************************************************/

#content {
    background: url(images/bgmiddle.png) center repeat-y;
    width: 860px;
    height: 100%;
    padding: 0px 20px 10px 20px;
}

/**************************************************/
/*                               All the content                                        */
/**************************************************/

#header {
    background: url(images/header.jpg) top center no-repeat;
    width: 860px;
    height: 166px;
    margin: 0px 0px 10px 0px;
}

/*                    Menu                   */
#menu {
    width: 200px;
    height: 100%;
    margin: 0px;
    float: left;
    text-align: left;
}

#menu li a {
    height: 35px;
    /* voice-family: "\"}\"";  */
    /* voice-family: inherit; */
    height: 27px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#menu li a:link,
#menu li a:visited {
    color: #fff;
    display: block;
    background: url(images/off.png);
    padding: 8px 0 0 10px;
    height: 27px;
    text-align: center;
}

#menu li a:hover {
    color: #0A2441;
    background: url(images/on.png);
    padding: 8px 0 0 10px;
    height: 27px;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#stuff {
    width: 625px;
    height: auto;
    margin: 0px 0px 0px 210px;
}

img {
    border: none;
}

/**************************************************/
/*                                       Bottom                                             */
/**************************************************/

#bottom {
    background: url(images/bgbottom.png) bottom center no-repeat;
    width: 900px;
    height: 78px;
}

.UnderLine {
    text-decoration: underline;
    text-underline-offset: 0.1rem;
}