  #index_bg {
      background-image: linear-gradient(120deg, #f1d7f9 0%, #cde4f0 100%);
      background-repeat: repeat;
  }

  /* .container {
      margin-top: 30px;
      width: 95%;
  } */

  .card-title {
      font-weight: 600;
  }

  ul {
      list-style-position: inside;
  }

  ul li {
      text-indent: 1em;
  }

  a {
      color: #0d6efd;
      text-decoration: none;
  }

  .a_link:hover {
      color: #f30;
      text-decoration: none;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23ff3300' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
      background-size: 20px auto;
      animation: waveMove 1s infinite linear;
  }

  @keyframes waveMove {
      from {
          background-position: 0 100%;
      }

      to {
          background-position: -20px 100%;
      }
  }

  #lastModified {
      color: blue;
  }

  .table-container {
      margin: auto;
      width: 95%;
      overflow: hidden;
  }

  table {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      font-size: 1rem;
      table-layout: fixed;
  }

  th,
  td {
      border: 1px solid #d9bee9;
      padding: 8px;
      text-align: center;
      word-wrap: break-word;
      word-break: break-all;
  }

  th {
      background-color: #f1e3f7;
  }

  tr:hover {
      background-color: #f1e3f7;
  }

  .T1 {
      width: 5%;
  }

  .T2 {
      width: 10%;
  }

  .T3 {
      width: 13%;
  }

  .T4 {
      width: 13%;
  }

  .T5 {
      width: 27%;
  }

  .T6 {
      width: 16%;
  }

  .T7 {
      width: 16%;
  }

  .Seat {
      width: 8%;
  }

  .NewName {
      width: 12%;
  }

  .OriginalName {
      width: 14%;
  }

  .Model {
      width: 30%;
  }

  .MacAdress {
      width: 18%;
  }

  .SerialNumber {
      width: 18%;
  }

  .menu-item {
      background-color: #eee;
      font-size: 1.05em;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      transition: background-color 0.3s ease;
  }

  .menu-item.selected,
  .menu-item:hover {
      background-color: rgb(188, 174, 247) !important;
      font-size: 1.05em;
      font-weight: bold;
  }

  .menu-content {
      display: none;
      padding: 10px;
      border-top: 1px solid #ddd;
  }

  .page-title {
      text-align: left;
      margin-bottom: 20px;
      font-size: 2em;
      font-weight: bold;
  }

  .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: #f8f9fa;
      padding: 5px 0 5px 0;
      font-size: 0.9em;
  }

  @media (max-width: 768px) {
      table {
          width: 100%;
          font-size: 0.9rem;
      }

      h1 {
          font-size: 2rem;
      }

      h2 {
          font-size: 1.5rem;
      }
  }

  @media (max-width: 480px) {
      table {
          width: 100%;
          font-size: 0.8rem;
      }

      h1 {
          font-size: 1rem;
      }

      h2 {
          font-size: 0.9rem;
      }
  }